* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.nav {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(105, 49, 68);
  align-content: center;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.logo-tag {
  text-decoration: none;
  font-size: 30px;
  color: rgb(252, 252, 252);
}
.logo-tag img {
  width: 100px;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: screen;
  margin-left: 50px;
  border-radius: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px;
}

nav {
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-align: center;
}
nav a {
  align-self: center;
  text-decoration: none;
  color: rgb(175, 134, 134);
  padding: 10px;
  margin-right: 40px;
  margin-top: 10px;
}
nav a:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  color: rgb(131, 197, 202);
}
nav a.active {
  background-color: #2196f3;
  border-radius: 10px;
  color: white;
}

@media screen and (max-width: 675px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 80px;
  }
  .logo-tag img {
    margin: 2px 9px;
    width: 50px;
    aspect-ratio: 3/2;
  }
  nav {
    display: flex;
    justify-content: space-evenly;
  }
  nav a {
    border-radius: 10px;
    margin: 0 4.5px;
    padding: 7px;
    font-size: 1rem;
    font-weight: 100;
  }
  nav a.active {
    background-color: #2196f3;
  }
}
